[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/spg7484
[access "refs/for/refs/*"]
	read = group user/spg7484
	push = group user/spg7484
	label-Code-Review = -2..+2 group user/spg7484
	label-Verified = -1..+1 group user/spg7484
	rebase = group user/spg7484
	removeReviewer = group user/spg7484
	submit = group user/spg7484
[access "refs/heads/*"]
	read = group user/spg7484
	create = group user/spg7484
	push = +force group user/spg7484
	pushMerge = group user/spg7484
[access "refs/tags/*"]
	push = +force group user/spg7484
	pushTag = group user/spg7484
	pushSignedTag = group user/spg7484
